.footer__container {
  height: 300px;
  width: 100%;
  background: black;
  padding-bottom: 190px;

  padding-top: 60px;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Protest Riot', sans-serif;
}

.footer__container__title {
  font-size: 50px;
}
