@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

.footer__container {
  height: 300px;
  width: 100%;
  background: black;
  padding-bottom: 190px;

  padding-top: 60px;
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Protest Riot', sans-serif;
}

.footer__container__title {
  font-size: 50px;
  margin-bottom: 20px;
}

.footer__container__credit {
  margin-bottom: 10px;
}

.footer__container__credit a {
  text-decoration: none;
  list-style: none;
}

.footer__container__credit a:hover {
  color: gold;
}
