@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

.breweries__title {
  text-align: center;
  font-weight: normal;
  color: black;
  font-family: 'Protest Riot', sans-serif;
  font-size: 40px;
  background: url('/src/images/background.png');
  padding: 40px 10px;
}

.breweries__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  background: url('/src/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 10px 40px 10px;
}

.breweries__container__brewery {
  border: 1px solid black;
  max-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.breweries__container__brewery-property {
  font-weight: bold;
}

.breweries__container__brewery button {
  background-color: #ca8a04;
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin: 10px 0 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.breweries__container__brewery button:hover {
  background-color: #b77920;
}

.breweries__container__brewery button span {
  font-weight: bold;
}

@media screen and (max-width: 1470px) {
  .breweries__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 1170px) {
  .breweries__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 870px) {
  .breweries__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media screen and (max-width: 500px) {
  .breweries__container {
    grid-template-columns: 1fr;
  }
}
